
// 圖片取代文字
@mixin h1-logo($url, $width, $height){
  background: url($url) no-repeat center center;
  width: $width;
  height: $height;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer; // 互動
}

// 橫式選單結構
@mixin horizontal-nav($width:100%){
  display: flex;
  justify-content: space-between;
  width: $width;
}


// RWD 斷點 - Pad
@mixin RWD-pad($max-width: 992px){
  @media(max-width: $max-width){
    @content;
  }
}


// RWD 斷點 - Mobile
@mixin RWD-mobile($max-width: 767px){
  @media(max-width: $max-width){
    @content;
  }
}